<% include ../partials/head %>
  <div>
    <div>
      <h1>Play2meetyou</h1>
       <!-- show any messages that come back with authentication -->
      <% if (message.length > 0) { %>
        <div><%= message %></div>
      <% } %>
      <p>Login or Register with:</p>
        <a href="/users/signup">Local Signup</a><br>
        <a href="/users/auth/facebook">Facebook</a><br>
        <a href="/users/auth/google">Google</a><br>
        <a href="/users/auth/twitter">Twitter</a><br>
        <p>------------------</p>
        <a href="/users/login">Local Login</a><br>
        <a href="/users/profile">Profile</a><br>
        <a href="/users/logout">Logout</a><br>
      </div>
  </div>
  <% include ../partials/footer %>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io.connect('http://localhost');
    socket.on('news', function (data) {
      console.log(data);
      socket.emit('my other event', { my: 'data' });
    });
  </script>