<% include ../partials/head %>
<div>
    <div>
      <h1>Change password</h1>
      <!-- show any messages that come back with authentication -->
      <% if (message.length > 0) { %>
        <div><%= message %></div>
      <% } %>

      <!-- LOGIN FORM -->
      <form action="" method="post">
        <div>
          <label>New password</label>
          <input type="password" name="password">
        </div>
        <div>
          <label>Confirm password</label>
          <input type="password" name="confirm">
        </div>
        <button type="submit">Update Password</button>
      </form>
      <hr>
      <p>Go <a href="/">home</a>.</p><br>
      <a href="/users/login">Local Signin</a><br>
      <a href="/users/signup">Local Signup</a><br>
      <a href="/users/profile">Profile</a><br>
      <a href="/users/logout">Logout</a>
<% include ../partials/footer %>